* {
	margin : 0; padding : 0;
}
body {
	background : #BCB88A;
}
nav ul li {
	float : left;
	list-style-type: none;
	margin : 10px;
	padding : 10px;
	background : green;
	display : inline;
}
